Finite Difference Computing with PDEs, Langtangen.pdf
exame_ep_especial_covid_MCE2020-21.ipynb
exame_normal_2020-21.ipynb
problema avaliacao 2.pdf
problema avaliacao 3.pdf
Dirichlet_boundary.png
__pycache__
.DS_Store
.ipynb_checkpoints/
